/* .picha{
    height: 50%;
} */

.carousel-item,
.carousel-inner,
.carousel-inner img {
  height: 80vh;
  width: auto;
}

.about-card{
    height: 34rem;
}
.about-card h3{
    text-align: center;
}

.logo-image{
    width: 18rem;
    height: 12rem;
}
.about{
    height: 39rem;
}
.top{
    margin-left: 8rem;
}
.images,
.top-image{
    align-items: center;
    height: 16rem;
}
.low-image{
    height: 15rem;
    width: 19rem;
}
.right{
    margin-left: 2rem;
}

/* about card transition */
/* .about-card{
    position: relative;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    display: flex;
}

.about-card,
.card-body{
    position: relative;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    box-shadow : 0 5px 20px rgba(0,0,0,0.5);
    transition : 0.3s ease-in-out;
    border-radius : 15px;
}

.about-card,
.card-body:hover{
    height : 320px; 
}

.about-card,
.card-body,
.logo{
    position: relative;
    box-shadow : 0 5px 20px rgba(0,0,0,0.2);
    z-index : 1;
}

.about-card,
.card-body,
.logo
.log-image{
    height: 8rem;
    width: 13rem;
    border-radius : 15px;
}


.about-card,
.card-body,
.content{
    position: relative;
    color: #111;
    text-align: center;
    visibility: hidden;
    opacity: 0;
    transition : 0.3s ease-in-out;
}

.about-card,
.card-body:hover,
.content{
    visibility: visible;
    opacity: 1;
    transition-delay: 0.2s;
}
 */

.stats{
    background-image: url(../../assets/images/stats.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    height: 35rem;
    padding-top: 14rem;
}
.numbers h4{
    font-size: 40px;
}
.numbers p{
    font-size: 30px;
}
/* footer{
    padding-top: 2rem;
} */
.btn{
    background-color: #E16520;
    color: white;
}
.container-footer{
    height: 26rem;
    color: #e72929;
}