<section>
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
            <img class="d-block picha w-100 img-thumbnail" src="../../assets/images/landing page/breakfast.jpg" alt="First slide">
            </div>
            <div class="carousel-item">
            <img class="d-block picha w-100 img-thumbnail" src="../../assets/images/landing page/our-menu.jpg" alt="Second slide">
            </div>
            <div class="carousel-item">
            <img class="d-block picha w-100 img-thumbnail" src="../../assets/images/landing page/our-chef.jpg" alt="Third slide">
            </div>
        </div>
    </div>
</section>

<!-- about page starts -->
<section>
    <div class="row">
        <div class="col-md-4">
                <!-- empty div -->
        </div>
        <div class="col-md-4">
                <img class="about-image-center img-thumbnail" src="../../assets/images/landing page/food-3.jpg" alt="Card image cap">
        </div>
        <div class="col-md-4">
                <!-- empty div -->
        </div>
</div>
<div class="row">
    <div class="col-md-4">
            <img class="about-image img-thumbnail" src="../../assets/images/landing page/snack.jpg" alt="Card image cap" style="height: 350px;">
    </div>
    <div class="col-md-4 mt-3">
        <div class="card about-card pt-5 text-center" style="width: 22rem;">
            <div class="content">
                    <h3 class="card-title"><b>
                            About Tamu Foods
                        </b></h3>
                        <h6 class="card-subtitle mb-2 text-muted">Derived from swahili <b><i>Tamu</i></b> means sweet</h6>
                        <p class="card-text">We are an online food deliery web application that enables our users to order food from our patner restaurants</p>
                        <a href="#" class="card-link">Our Menu</a>
                        <a href="#" class="card-link">Learn More</a>
            </div>
        </div>
    </div>
    <div class="col-md-4">
            <img class="about-image img-thumbnail ml-5" src="../../assets/images/landing page/onthego.jpg" alt="Card image cap" style="height: 350px;">
    </div>
</div>
<!-- <div class="row">
        <div class="col-md-4">
               
        </div>
        <div class="col-md-4">
                <img class="about-image-center img-thumbnail" src="../../assets/images/landing page/lunch.jpg" alt="Card image cap">
        </div>
        <div class="col-md-4">
                
        </div>
</div> -->
</section>
<!-- stats -->
<section>
    <div class="row stats">
        <div class="col-md-3 text-center">
                <h4>100+</h4>
                <p>Dishes you can choose from</p>
        </div>
        <div class="col-md-3 text-center">
                <h4>500+</h4>
                <p>Per day customers</p>
        </div>
        <div class="col-md-3 text-center">
                <h4>800+</h4>
                <p>Weekly customers</p>
        </div>
        <div class="col-md-3 text-center">
                <h4>4500+</h4>
                <p>Monthly customers</p>
        </div>
</div>
</section>
<!-- footer -->
<footer class="row mb-0">
    <div class="col-md-4">
            <h5><b>Tamu FOODS</b></h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque veritatis dolorum sequi reiciendis est. Porro natus fugiat molestiae voluptate eos commodi accusantium reprehenderit labore dolor? Laborum nemo deleniti numquam corporis.</p>
    </div>
    <div class="col-md-4">
            <h5><b>Contact</b></h5>
            <p>call: +254 705 123 456</p>
            <p>Timing: Everyday from 8am-6pm</p>
            <Address>45 Muthagari Drive Lavington Nairobi Kenya</Address>
    </div>
    <div class="col-md-4">
            <h5><b>Subscribe</b></h5>
            <input type="email" placeholder="Email">
            <button class="btn">Subscribe</button>
    </div>
</footer>



