<section>
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
            <img class="d-block picha w-100 img-thumbnail" src="../../assets/images/landing page/breakfast.jpg" alt="First slide">
            </div>
            <div class="carousel-item">
            <img class="d-block picha w-100 img-thumbnail" src="../../assets/images/landing page/our-menu.jpg" alt="Second slide">
            </div>
            <div class="carousel-item">
            <img class="d-block picha w-100 img-thumbnail" src="../../assets/images/landing page/our-chef.jpg" alt="Third slide">
            </div>
        </div>
    </div>
</section>

<!-- about page starts -->
<section class="about">
    <div class="container container-fluid mt-5">
        <div class="about-page row">
            <div class="card about-card col-md-6">
                <h3 class="card-title">
                    <b>
                    About Tamu Foods
                    </b>
                </h3>
                <div class="card-body">
                  <h4 class="card-title"><em> Derived from swahili <b><i>Tamu</i></b> means sweet</em></h4>
                  <p class="card-text">We are an online food deliery web application that enables our users to order food from our patner restaurants
                    Our users can order food from our partner restaurant. 
                    The app eliminates time inconvenience and allows a user to purchase from the comfort of their location.
                  </p>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum exercitationem nihil ut, quo debitis tempora alias quidem modi architecto molestias mollitia commodi soluta corrupti, ipsam labore fugiat quia asperiores dolorum!</p>
                  <a href="#" class="btn btn-lg active learn">Learn More</a>
                </div>
              </div>
              <div class="images col-md-6">
                  <div class="top">
                    <img class="top-image img-thumbnail" src="../../assets/images/deliveryman.jpg" alt="deliveryman">
                  </div>
                  <div class="row mt-3">
                    <div class="col-md-6">
                        <img class="low-image img-thumbnail" src="../../assets/images/hands.jpg" alt="arrival">
                    </div>
                    <div class="col-md-6 low-image left">
                    <img class="low-image right img-thumbnail" src="../../assets/images/peleka.jpg" alt="delivery">
                    </div>
                  </div>
              </div>
        </div>
    </div>
</section>
<!-- stats -->
<section class="mt-5">
    <div class="row stats">
        <div class="col-md-3 text-center numbers">
                <h4>100+</h4>
                <p>Dishes you can choose from</p>
        </div>
        <div class="col-md-3 text-center numbers">
                <h4>500+</h4>
                <p>Per day customers</p>
        </div>
        <div class="col-md-3 text-center numbers">
                <h4>800+</h4>
                <p>Weekly customers</p>
        </div>
        <div class="col-md-3 text-center numbers">
                <h4>4500+</h4>
                <p>Monthly customers</p>
        </div>
</div>
</section>
<!-- footer -->
<footer class="container-footer mt-5">
    <div class="row">
        <div class="col-md-4">
            <h5>Tamu Foods</h5>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita quis animi nesciunt dolorem nam magni earum error ex cum vero, similique tempora deleniti, officia ducimus necessitatibus modi accusantium. Aliquam, deleniti?</p>
        </div>
        <div class="col-md-4">
            <h5><b>Contact</b></h5>
            <p>call: +254 705 123 456</p>
            <p>Timing: Everyday from 8am-6pm</p>
            <Address>45 Muthagari Drive Lavington Nairobi Kenya</Address>
        </div>
        <div class="col-md-4">
            <h5><b>Subscribe</b></h5>
            <input type="email" placeholder="Email">
            <button class="btn btn-lg active">Subscribe</button>
        </div>
    </div>
</footer>
<!-- <footer class="row mb-0">
    <div class="col-md-4">
            <h5><b>Tamu FOODS</b></h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque veritatis dolorum sequi reiciendis est. Porro natus fugiat molestiae voluptate eos commodi accusantium reprehenderit labore dolor? Laborum nemo deleniti numquam corporis.</p>
    </div>
    <div class="col-md-4">
            <h5><b>Contact</b></h5>
            <p>call: +254 705 123 456</p>
            <p>Timing: Everyday from 8am-6pm</p>
            <Address>45 Muthagari Drive Lavington Nairobi Kenya</Address>
    </div>
    <div class="col-md-4">
            <h5><b>Subscribe</b></h5>
            <input type="email" placeholder="Email">
            <button class="btn">Subscribe</button>
    </div>
</footer> -->



