/* .picha{
    height: 50%;
} */

.carousel-item,
.carousel-inner,
.carousel-inner img {
  height: 80vh;
  width: auto;
}

.about-card{
    height: 34rem;
    border-radius: 10%;
    border:1px solid #E16520;
    padding-top: 3rem;
    box-shadow: -32px 29px 0px -14px rgba(201,200,200,1);
    -webkit-box-shadow: -32px 29px 0px -14px rgba(201,200,200,1);
    -moz-box-shadow: -32px 29px 0px -14px rgba(201,200,200,1);
}
.about-card h3{
    text-align: center;
}

.logo-image{
    width: 18rem;
    height: 12rem;
}
.about{
    height: 39rem;
}
.top{
    margin-left: 8rem;
}
.images,
.top-image{
    align-items: center;
    height: 16rem;
}
.low-image{
    height: 15rem;
    width: 19rem;
}
.right{
    margin-left: 2rem;
}

.stats{
    background-image: url(../../assets/images/stats.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    height: 35rem;
    padding-top: 14rem;
}
.numbers h4{
    font-size: 40px;
}
.numbers p{
    font-size: 30px;
}
.btn{
    background-color: #E16520;
    color: white;
}
.btn:hover{
    background-color: white;
    color: #E16520;
}
.container-footer{
    /* height: 26rem; */
    color: white;
    background: #031110;
    padding-top: 4rem;
}
footer h5{
    font-size: 32px;
}
footer p{
    font-size: 22px;
}