
<section>
    <div class="row">
        <div class="col-md-3">
            <!-- empty div -->
        </div>
        <div class="col-md-6">
                <h2 class="text-center">LogIn</h2>
                <div class="email">
                    <label for="email">email</label> <br>
                    <input type="email" class="user-email" placeholder="user@email.com">
                </div>
                <div class="password">
                    <label for="password">password</label> <br>
                    <input type="password" class="user-password" placeholder="enter your password here">
                </div>
                <button class="btn mt-2 btn-lg login">Login</button>
        </div>
        <div class="col-md-3">
            <!-- empty div -->
        </div>
    </div>
</section>
