
<section>
    <div class="row">
        <div class="col-md-3">
            <!-- empty div -->
        </div>
        <div class="col-md-6">
                <h2 class="text-center us"><b> Contact Us</b></h2>
                <h6 class="text-center">Write to us!</h6>
                <p class="text-center">
                We value your feedback, suggestions and inquiry.
                </p>
                <div class="row">
                    <div class="first-name col-md-6">
                        <label for="name">First Name</label> <br>
                        <input type="name" class="firstname" placeholder="firstname">
                    </div>
                    <div class="last-name col-md-6">
                        <label for="name">Last Name</label> <br>
                        <input type="name" class="lastname" placeholder="lastname">
                    </div>
                </div>
                <div class="row">
                    <div class="location col-md-6">
                        <label for="address">Location</label> <br>
                        <input type="text" class="address" placeholder="enter your address">
                    </div>
                    <div class="contact col-md-6">
                        <label for="number">Phone Number</label> <br>
                        <input type="number" class="mobile" placeholder="enter your phone number">
                    </div>
                </div>
                <div class="message">
                    <label for="message">Your Message</label> <br>
                    <textarea name="feedback" id="message" cols="100" rows="10">
                        Your message
                    </textarea>
                </div>
                <button class="btn mt-3 btn-lg login">submit</button>
                <p class="my-3">Expect to hear from us soon</p>
        </div>
        <div class="col-md-3">
            <!-- empty div -->
        </div>
    </div>
</section>
