.username{
    width: 100%;
    height: 3rem;
}
.user-email{
    width: 100%;
    height: 3rem;
}
.user-password{
    width: 100%;
    height: 3rem;
}
.btn{
    background-color: #E16520;
    color: white;
}
.btn:hover{
    background-color: white;
    color: #E16520;
}
.login{
    width: 16%;
    height: 3.8rem;
}