<p>signup works!</p>

<section>
    <div class="row">
        <div class="col-md-3">
            <!-- empty div -->
        </div>
        <div class="col-md-6">
                <h2 class="text-center">Register</h2>
                <div class="email">
                    <label for="name">username</label> <br>
                    <input type="text" class="username" placeholder="enter username">
                </div>
                <div class="email">
                    <label for="email">email</label> <br>
                    <input type="email" class="user-email" placeholder="user@email.com">
                </div>
                <div class="password">
                    <label for="password">password</label> <br>
                    <input type="password" class="user-password" placeholder="enter your password here">
                </div>
                <div class="password">
                    <label for="password">confirm password</label> <br>
                    <input type="password" class="user-password" placeholder="re-enter your password here">
                </div>
                <button class="btn mt-3 btn-lg login">signup</button>
                <p class="my-3">Already have an account? <a href="">login</a></p>
        </div>
        <div class="col-md-3">
            <!-- empty div -->
        </div>
    </div>
</section>
